<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ToDo Register Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <h1>Create Account</h1>
    <form action="" method="POST">
        <label>Username: <input type="text" name="username" placeholder="username"></label>
        <label>Password: 
           <input type="password" name="password"> 
        </label>
        <label>Confirm Password: <input type="password" name="confirmPassword"></label>
        <input type="submit">
    </form>
    <a href='/login'>Login</a> <!--GO Back to homepage-->
</body>
</html>